@font-face {
    font-family: "main";
    src: url(../public/fonts/Roboto/Roboto-Light.ttf);
}

.container {
    width: 1280px;
    margin: auto;
    font-family: "main";
    margin-top: 63px;
    margin-bottom: 30px;
}

.logo__link {
    text-decoration: none;
    font-weight: bold; 
    font-size: 80px;
    color: black;
}

.ingredient__logo {
    color: #4BCAFF;
}

.nav {
    display: flex;
    justify-content: center;
    align-content: stretch;
    margin-top: 38px;
    background: #35444F;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 72px;
    border-left: 1px solid white;
    padding: 0 40px;
    transition: 500ms;
}

.nav__item:last-child {
    border-right: 1px solid white;
}

.nav__link:hover {
    background: #222F3A;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.sidebar__list {
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.sidebar__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 44px;
    width: 344px;
    height: 81px;
    text-decoration: none;
    color: #485863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    transition: 500ms;
}

.sidebar__link:hover {
    background: #DBDBDB;
    padding-left: 76px;
    color: black;
    font-weight: bold; 
}

.main {
    width: 885px;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.main__poster {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 529px;
    border: 1px solid black;  
}

.main__image {
    height: 381px;
    transition: 1.7s;
}

.main__image:hover {
    height: inherit;
    max-height: 99%;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    margin-top: 36px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 38px;
    padding: 0 40px;
    background: #63696E7A;
}

.footer__list, .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
}

.footer__link {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: black;
    display: flex;
    align-items: center;
    height: 53px;
    padding-right: 20px;
    transition: 500ms;
}

.copy {
    font-size: 24px;
    line-height: 24px;
    color: black;
    display: flex;
    align-items: center;
    height: 69px;
}

.footer__link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
